.container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

button{
    border-radius: 15px;
    margin: 4px 4px 0 0;
    background-color: rgb(135, 209, 209);
    font-size: 35px;
    border: none;
    text-decoration: gray;
    
}

button:hover{
    background-color: rgb(49, 82, 82);
    cursor: pointer;
}

label{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    background: rgb(214, 214, 214);
}